@import url("https://fonts.googleapis.com/css?family=Arimo:700");
@import url("https://fonts.googleapis.com/css?family=Muli");
body, button, p {
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  color: white; }

p {
  line-height: 1.5;
  text-align: justify;
  text-justify: inter-word; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 24px; }

h1 {
  font-size: 36px; }

a {
  font-family: 'Arimo', sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: white;
  transition: 0.5s;
  cursor: pointer; }

a:hover {
  color: #dd5733; }

header {
  height: 74px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffd68b; }

.actual-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  max-width: 1140px;
  width: 100%;
  margin: 24px 0; }

.actual-header > a {
  font-size: 24px; }

nav a {
  margin-left: 12px; }

.burger-div {
  display: none; }

.burger-div i {
  font-size: 18px; }

.secret-nav {
  width: 100%;
  position: absolute;
  top: -164px;
  left: 0;
  margin: 24px 0 12px 0;
  z-index: 10;
  transition: 0.5s; }

.secret-nav a {
  margin-bottom: 12px; }

@media screen and (max-width: 1140px) {
  .actual-header {
    margin: 24px 12px; } }
@media screen and (max-width: 600px) {
  header {
    background: none;
    transition: 0.5s; }

  header nav {
    display: none; }

  .burger-div {
    display: block; }

  .secret-nav-visible {
    top: 0; }

  .secret-nav nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

  .header-move {
    margin-top: 164px; } }
.fa {
  font-size: 48px; }

#spotify:hover {
  color: #91FFB7; }

#soundcloud:hover {
  color: #FF3B00; }

#bandcamp:hover {
  color: #B2EEFF; }

@media screen and (max-width: 600px) {
  .fa {
    font-size: 36px; } }
.two {
  background: #FF997C;
  height: 100vh;
  min-height: 800px; }

.music {
  width: 800px; }

.music-wrapper {
  height: 400px;
  overflow: hidden; }

.music-gallery {
  width: 800px;
  background: black; }

.sc-player {
  height: 200px;
  overflow: hidden; }

.sc {
  margin-top: -4px; }

.music-socials {
  margin: 24px 0;
  display: flex;
  justify-content: flex-end; }

.music-socials h2 {
  display: block; }

.music-socials i {
  margin-left: 24px; }

.thumb a {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  text-decoration: none; }

.play {
  opacity: 0;
  display: block;
  position: relative;
  font-size: 48px;
  color: white;
  margin-top: 76px;
  z-index: 1000;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out; }

.thumb a:hover .play {
  opacity: 1; }

.thumb a:hover img {
  opacity: 0.8; }

@media screen and (max-width: 960px) {
  .music {
    width: 100%; }

  .music-gallery {
    width: 100%;
    height: 400px; }

  .r-padding2 {
    padding: 0 12px 0 12px; } }
@media screen and (max-width: 615px) {
  .music-wrapper {
    height: 600px; } }
@media screen and (max-width: 615px) {
  .music-socials {
    justify-content: center; } }
@media screen and (max-width: 415px) {
  .music-wrapper {
    height: 800px; } }
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background: #ffd68b; }

.center-v {
  display: flex;
  align-items: center;
  flex-wrap: wrap; }

.center-h {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.clear {
  clear: both; }

main {
  margin-top: 74px; }

.one {
  height: 100vh;
  min-height: 700px;
  background: linear-gradient(to bottom, #ffd68b, #ffd68b, #ffd68b, #ffd68b, #ffd68b, #FF997C); }

.album-container {
  height: 100%; }

.album-info {
  width: 800px;
  margin: 0 auto; }

.album-img {
  float: left;
  height: 400px; }

.album-img img {
  width: 400px;
  height: 400px;
  z-index: 5; }

.album-text {
  display: flex;
  align-items: flex-end;
  padding-left: 12px;
  height: 400px;
  margin-bottom: 48px; }

.go {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 175px; }

@media screen and (max-width: 960px) {
  .album-info {
    width: 400px; }

  .album-img {
    width: 100%; }

  .album-text {
    align-items: flex-start;
    height: auto;
    width: 400px;
    padding-left: 0; } }
@media screen and (max-width: 600px) {
  .r-padding {
    padding: 0 12px 0 12px; }

  main {
    margin-top: 0;
    transition-property: margin-top;
    transition-duration: 0.5s; }

  .a-height {
    height: auto; }

  .album-container {
    display: flex;
    align-items: flex-start; }

  .album-info {
    width: 100%; }

  .album-img {
    height: auto; }

  .album-img img {
    width: 100%;
    height: auto; }

  .album-text {
    width: 100%;
    justify-content: center;
    margin-bottom: 36px; }

  .go {
    height: 100px;
    margin-bottom: 48px; } }
@media screen and (max-height: 750px) {
  .go i {
    display: none; } }

/*# sourceMappingURL=main.css.map */
