@import url("https://fonts.googleapis.com/css?family=Arimo:700");
@import url("https://fonts.googleapis.com/css?family=Muli");
body, button, p {
  font-family: 'Muli', sans-serif;
  font-size: 14px;
  color: white; }

p {
  line-height: 1.5;
  text-align: justify;
  text-justify: inter-word; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 24px; }

h1 {
  font-size: 36px; }

a {
  font-family: 'Arimo', sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: white;
  transition: 0.5s;
  cursor: pointer; }

a:hover {
  color: #dd5733; }

header {
  height: 74px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffd68b; }

.actual-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  max-width: 1140px;
  width: 100%;
  margin: 24px 0; }

.actual-header > a {
  font-size: 24px; }

nav a {
  margin-left: 12px; }

.burger-div {
  display: none; }

.secret-nav {
  width: 100%;
  position: absolute;
  top: -164px;
  left: 0;
  margin: 24px 0 12px 0;
  z-index: 10;
  transition: 0.5s; }

.secret-nav a {
  margin-bottom: 12px; }

@media screen and (max-width: 1140px) {
  .actual-header {
    margin: 24px 12px; } }
@media screen and (max-width: 600px) {
  header {
    background: none;
    transition: 0.5s; }

  header nav {
    display: none; }

  .burger-div {
    display: block; }

  .secret-nav-visible {
    top: 0; }

  .secret-nav nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

  .header-move {
    margin-top: 164px; } }
.two {
  background: linear-gradient(to bottom, #ffd68b, #FF997C, #FF997C);
  height: 100vh;
  min-height: 700px; }

.music {
  width: 800px;
  margin-top: 24px; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  background: #ffd68b; }

.center-v {
  display: flex;
  align-items: center;
  flex-wrap: wrap; }

.center-h {
  width: 100%;
  display: flex;
  justify-content: center; }

.clear {
  clear: both; }

main {
  margin-top: 74px; }

.one {
  height: 100vh;
  min-height: 700px; }

.album-container {
  height: 100%; }

.album-info {
  width: 800px;
  margin: 0 auto; }

.album-img {
  float: left;
  height: 400px; }

.album-img img {
  width: 400px;
  height: 400px;
  z-index: 5; }

.album-text {
  display: flex;
  align-items: flex-end;
  padding-left: 12px;
  height: 400px;
  margin-bottom: 48px;
  text-align: justify;
  text-justify: inter-word; }

.go {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 175px; }

.go i {
  font-size: 48px; }

@media screen and (max-width: 960px) {
  .album-info {
    width: 400px; }

  .album-img {
    width: 100%; }

  .album-text {
    align-items: flex-start;
    height: auto;
    width: 400px;
    padding-left: 0; } }
@media screen and (max-width: 600px) {
  main {
    margin-top: 0;
    transition-property: margin-top;
    transition-duration: 0.5s; }

  .one {
    height: auto; }

  .album-container {
    display: flex;
    align-items: flex-start; }

  .album-info {
    width: 100%; }

  .album-img {
    height: auto; }

  .album-img img {
    width: 100%;
    height: auto; }

  .r-padding {
    padding: 0 12px 0 12px; }

  .album-text {
    width: 100%;
    justify-content: center;
    margin-bottom: 36px; }

  .go {
    height: 100px;
    margin-bottom: 48px; } }

/*# sourceMappingURL=main.css.map */
