// SECTION TWO
.two {
  background: #FF997C;
  height: 100vh;
  min-height: 800px;
}

.music {
  width: 800px;
}

// MUSIC GALLERY
.music-wrapper {
  height:400px;
  overflow: hidden;
}

.music-gallery {
  width: 800px;
  height: 400px;
  background: white;
}

.music-gallery a:hover {
  opacity: 0.2;
}

// SOUNDCLOUD PLAYER
.sc-player {
  height: 200px;
  overflow: hidden;
}

.sc {
  margin-top: -4px;
}

// SOCIAL LINKS
.music-socials {
  margin: 24px 0;
  display: flex;
  justify-content: flex-end;

}
.music-socials h2 {
  display: block;
}
.music-socials i {
  margin-left: 24px;
}

@media screen and (max-width: 960px) {
  .music {
    width: 100%;
  }
  .music-gallery {
    width: 100%;
    height: 400px;
  }
}

@media screen and (max-width: 615px) {
  .music-wrapper {
    height: 600px;
  }
}
@media screen and (max-width: 615px) {
  .music-socials {
    justify-content: center;
  }
}
@media screen and (max-width: 415px) {
  .music-wrapper {
    height: 800px;
  }
}
