// SECTION TWO
.two {
  background: #FF997C;
  height: 100vh;
  min-height: 700px;
}

.music {
  width: 800px;
}

.music-wrapper {
  height:400px;
  overflow: hidden;
}

.music-gallery {
  width: 800px;
  height: 400px;
  background: white;
}

.music-gallery a:hover {
  opacity: 0.5;
}

.sc-player {
  height: 200px;
  overflow: hidden;
}
.sc {
  margin-top: -4px;
}
@media screen and (max-width: 960px) {
  .music {
    width: 100%;
  }
  .music-gallery {
    width: 100%;
    height: 400px;
  }

}

@media screen and (max-width: 615px) {
  .music-wrapper {
    height: 600px;
  }
}

@media screen and (max-width: 415px) {
  .music-wrapper {
    height: 800px;
  }
}
