@import
"typography.scss"
;
// IMPORTANT THINGS
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.center-v {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.center-h {
  width: 100%;
  display: flex;
  justify-content: center;
}

.clear {
  clear: both;
}

// SECTION ONE
.album-container {
  height: 100%;
}

.album-info {
  width: 800px;
  margin: 0 auto;
}

.album-img {
  float:left;
  height: 400px;
}
.album-img img {
  width: 400px;
  height: 400px;
}

.album-text {
  display: flex;
  align-items: flex-end;
  padding-left:12px;
  height: 400px;
  margin-bottom: 48px;
}

.album-text div {
  margin-bottom: -14px;
}

.go {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.go i {
  font-size: 48px;
  margin-top: 48px;
}

@media screen and (max-width: 960px) {

  .album-info {
    width: 400px;
  }

  .album-img {
    width: 100%;
  }

  .album-text {
    align-items: flex-start;
    height: auto;
    width: 400px;
    padding-left: 0;
  }
}

@media screen and (max-width: 600px) {
  .album-container {
    display: flex;
    align-items: flex-start;
  }

  .album-info {
    width: 100%;
  }

  .album-img {
    height: auto;
  }

  .album-img img {
    width: 100%;
    height: auto;
  }

  .album-text {
    width: 100%;
    padding: 0 12px 0 12px;
  }
}
// HEIGHT FIX
@media screen and (max-height: 960px){
  .album-text p {
    display: none;
  }

  .album-text {
    justify-content: center;
  }
}


//SECTION TWO
